<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        href="{{ url_for('static', filename='css/light-bootstrap-dashboard.css')}}"
        rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />


    <!--GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,700;1,400;1,700;1,900&family=Tilt+Prism&display=swap" rel="stylesheet">
    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
    />
    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    
    
    
    <link href="{{ url_for('static', filename='fontawesome/css/all.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transition.css') }}" />
    <title>Profilo Utente</title>
  </head>
  <body>
    <div class="wrapper">
        <div class="sidebar" data-color="blue">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="index.html" class="simple-text">
                      <img class="img-logo logo-mini" src="{{ url_for('static', filename='img/logo-white.png') }}" alt="" width="90" height="72">
                    </a>
                    <h1 class="text-logo logo-normal">My Family Bank</h1>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard">
                            <i class="fa-solid fa-chart-simple"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin_user">
                            <i class="fa-solid fa-user"></i>
                            <p>Gestione Utenti</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="admin_family">
                            <i class="fa-solid fa-users"></i>
                            <p>Gestione Famiglie</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="admin_expense">
                            <i class="fa-solid fa-receipt"></i>
                            <p>Gestione spese</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link active" href="admin_category">
                            <i class="fa-solid fa-book"></i>
                            <p>Gestione categorie</p>
                        </a>
                    </li>
                    <!--
                    <li>
                        <a class="nav-link" href="./user.html">
                            <i class="fa-solid fa-chart-simple"></i>
                            <p>Grafici</p>
                        </a>
                    </li>
                    -->
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="profile">{{user}}</a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">

                        <ul class="navbar-nav ml-auto">
                            <!--<li class="nav-item">
                                <a class="nav-link" href="profile">
                                    <span class="no-icon">Account</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="family">
                                    <span class="no-icon">Famiglia</span>
                                </a>
                            </li>
                            <li class="nav-item">-->
                                <a class="nav-link" href="logout">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <form action="add_category" method="post">
                        <div class="col-12">
                            <label for="categoria" class="form-label bold">Categoria:</label>
                            <input
                              type="text"
                              class="form-control"
                              id="categoria"
                              name="categoria"
                            />
                        </div>
                        <select class="form-select select-color" name="colore">
                            <!--SELECT COLORI-->
                            <option selected disabled>- Seleziona un colore  -</option>
                            <option value="red" style="background-color: red;"></option>
                            <option value="cyan" style="background-color: cyan;"></option>
                            <option value="blue" style="background-color: blue;"></option>
                            <option value="yellow" style="background-color: yellow;"></option>
                            <option value="lightgreen" style="background-color: lightgreen;"></option>
                            <option value="green" style="background-color: green;"></option>
                            <option value="orange" style="background-color: orange;"></option>
                            <option value="pink" style="background-color: pink;"></option>
                            <option value="purple" style="background-color: purple;"></option>
                            <option value="brown" style="background-color: brown;"></option>
                            <option value="gray" style="background-color: gray;"></option>
                            <option value="black" style="background-color: black;"></option>
                            
                          </select>
                        <div class="center">
                            <button type="submit" class="btn btn-primary">Aggiungi categoria</button>
                        </div>
                </form>
                    <div class="section">
                        <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Categoria</th>
                            <th scope="col">Colore</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for elem in fetch %}
                          <tr id="{{elem['categoria']}}">
                            <th scope="row" id="{{elem['categoria']}}">{{elem['categoria']}}</th>
                            <td>{{elem['colore']}}</td>
                            <td>
                                <a href="edit/category/{{elem['categoria']}}"><button class="btn btn-warning">EDIT</button></a>
                                <a href="delete_category/{{elem['categoria']}}"><button class="btn btn-danger">DELETE</button></a>
                            </td>
                          </tr>
                          {%endfor%}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="index">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="index">
                                    Company
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-center">
                            © 2023
                            <a href="index">My Family Bank</a>
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/select_color.js') }}"></script>
  </body>
</html>